<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lifecraft.todoappspringbootsrv.mapper.RoleMapper">
    <select id="getRoleByName" resultType="Role">
        select
        id,
        name,
        created_at as "createdAt",
        modified_at as "updatedAt"
        from roles where name = #{name}
    </select>
</mapper>